
	<div class="navbar navbar-default navbar-static-top">
			<div class="navbar-collapse collapse navbar-responsive-collapse">
				<p class="navbar-text pull-right">
					<% if user_signed_in? %>
					Logged in as <strong><%= current_user.email %></strong>.
					<%= link_to 'Edit profile', edit_user_registration_path %> |
					<%= link_to "Logout", destroy_user_session_path, method: :delete  %> 
					<% else %>
					<%= link_to "Login", new_user_session_path(:role => params[:role])%>
					<% end %>
				</p>
		</div>
	</div>
<h2>Forgot your password?</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="actions">
    <%= f.submit "Send me reset password instructions" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
